<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/template}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <div>
        <h1 th:text="|All To-Dos of ${user.getFirstName()} ${user.getLastName()}|"></h1>

        <form th:action="@{/home}" method="get" class="mb-4">
            <button type="submit" class="btn btn-primary">Create To-Do</button>
        </form>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-light">
        <tr>
            <th>No.</th>
            <th>Id</th>
            <th>Title</th>
            <th>Created At</th>
            <th>Owner</th>
            <th colspan="2" class="text-center">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo, iStat: ${user.getMyTodos()}">
            <td th:text="${iStat.index + 1}"></td>
            <td th:text="${todo.id}"></td>
            <td>
                <a th:href="@{|/todos/all/users/${user.id}|}" th:text="${todo.getTitle()}"></a>
            </td>
            <td th:text="${todo.createdAt}"></td>
            <td th:text="|${todo.owner.getFirstName()} ${todo.owner.getLastName()}|"></td>
            <td class="text-center">
                <a th:href="@{|/todos/${todo.id}/update/users/${user_id}|}">Edit</a>
            </td>
            <td class="text-center">
                <form th:action="@{|/todos/${todo.id}/remove/users/${user.id}|}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-link">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
